<template>
  <div class="about">
    <img alt="Vue.js Logo" src="../assets/logo.png">
    <h1>Authorized</h1>
    <div>Hello {{ firstName }} {{ lastName }}!</div>
    <div>You are authorized to access this page.</div>
    <!-- TODO: Change the hint as needed. -->
    <div>This means that the role named "isslab-client-role" is assigned.</div>
    <div><button @click="logout">Logout</button></div>
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'Authorized',
  data: function () {
    return {
      firstName: '',
      lastName: ''
    }
  },
  beforeMount() {
    this.firstName = Vue.$keycloak.tokenParsed.given_name
    this.lastName = Vue.$keycloak.tokenParsed.family_name
  },
  methods: {
    logout () {
      Vue.$keycloak.logout({ redirectUri: window.location.origin })
    }
  }
}
</script>
